[Desktop Entry]
Type=Application
Name=SliTaz Panel
Name[fr]=Panneau Général de SliTaz
Name[ru]=Панель SliTaz
Comment=SliTaz administration and configuration Panel
Comment[el]=Πίνακας διαχείρισης και ρύθμισης παραμέτρων SliTaz
Comment[es]=SliTaz Administración y configuración del Panel
Comment[fr]=Panneau de Configuration et d'Administration de SliTaz
Comment[pl]=Panel administracyjny i konfiguracyjny SliTaz
Comment[pt]=Painel de configuração e administração do SliTaz
Comment[pt_BR]=Painel de configuração e administração do SliTaz
Comment[ru]=Панель администрирования и настройки SliTaz
Comment[sv]=SliTaz administration och konfigurations panel
Exec=tazpanel
Icon=tazpanel
Categories=System;
